body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #224b6b;
  color: #e0e0e0;
}

label {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #f1f1f1;
  text-shadow: 4px 4px 4px #1a1a1a;
}

form {
  padding: 8px 10px;
  width: 260px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select {
  padding: 8px 10px;
  width: 260px;
  background-color: #1e1e1e;
  color: #fff5f5;
  border: 1px solid #535252;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input {
  padding: 8px 10px;
  width: 260px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
  outline: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #407a8a, #0072ff);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0px 10px 10px #1a1a1a;
}

button:hover {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  transform: scale(1.03);
}

.button-row {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  align-items: center;
}

#salableBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #407a8a, #0072ff);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0px 10px 10px #1a1a1a;
}

#salableBtn:hover {
  background: linear-gradient(135deg, #0072ff, #407a8a);
  transform: scale(1.03);
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

th {
  background-color: #0d8494;
  color: #ffffff;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  color: #e0e0e0;
}

tr:nth-child(even) {
  background-color: #222;
}

tr:hover {
  background-color: #494848;
}

.header_css {
  font-size: 2em;
  color: #cde4f0;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 10px 8px #1a1a1a;
}

.header_css:hover,
.header_css:focus {
  border-color: #949494;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  outline: none;
}

#selectmonth {
  color: rgb(255, 255, 255);
  background-color: #181c20;
  border: 2px solid #949494;
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#selectmonth:hover,
#selectmonth:focus {
  border-color: #00bfff;
  box-shadow: 0 0 50px rgba(0, 191, 255, 0.7);
  outline: none;
}

#startDatecalender {
  color: rgb(255, 255, 255);
  background-color: #181c20;
  border: 2px solid #949494;
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#startDatecalender:hover,
#startDatecalender:focus {
  border-color: #00bfff;
  box-shadow: 0 0 50px rgba(0, 191, 255, 0.7);
  outline: none;
}

#endDatecalender {
  color: rgb(255, 255, 255);
  background-color: #181c20;
  border: 2px solid #949494;
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#endDatecalender:hover,
#endDatecalender:focus {
  border-color: #949494;
  box-shadow: 0 0 50px rgba(0, 191, 255, 0.7);
  outline: none;
}

.center-container {
  display: flex;
  justify-content:inherit;
  align-items:inherit;
  height: 100vh;
  gap: 15px;
  background: radial-gradient(circle at top, #0a192f, #020617);
}

.button-wrapper {
  position:inherit;
  display:list-item;
}

.productButtons {
  display: none;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
  border-left: 2px solid rgba(0, 255, 255, 0.3);
  padding-left: 5px;
  z-index: 10;
}

.productButtons button {
  opacity: 0;
  transform: translateX(-20px);
  width: 120px;
  padding: 5px 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #407a8a, #1a343b);
  color: white;
  font-weight: 500;
  letter-spacing: 0.4px;
  cursor: pointer;
  box-shadow: 0px 10px 10px #1a1a1a;
  transition: all 0.25s ease;
}

.productButtons button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(8, 54, 54, 0.8);
}

@keyframes fadeInButton {
  from {
    opacity: 0;
    transform: translateX(-5px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
